Repository christfellowshipchurch/web-app-v2, pull requests merged in 2024-01, with the labels that each got.

#643 Removing Christmas Banner
  components/LocationSingle/CampusInfo/index.js
  components/LocationSingle/LocationSingle.styles.js
Labels: 🛑 DO NOT MERGE 🛑, Location Pages 📍, Ready for Review ✅

#635 CFE Locations
  components/FAQ/FAQ.js
  components/FAQ/faqData.js
  components/LocationBlockFeatureEspanol/LocationBlockFeatureEspanol.js
  components/LocationBlockFeatureEspanol/defaultBlockDataEspanol.js
  components/LocationBlockFeatureEspanol/index.js
  components/LocationSingle/CampusInfo/PastorCard.js
  components/LocationSingle/CampusInfo/customComponents.js
  components/LocationSingle/CampusInfo/index.js
  components/LocationSingle/LocationSingle.js
  components/LocationSingle/utils.js
  components/Modals/SetReminderModal/SetAReminderForm.js
  components/Testimonials/Testimonials.js
  components/index.js
  lib/locationData.js
  pages/locations/[title].js
  public/cfdp-default-map.jpg
  public/location-pages/maps/christ-fellowship-espanol-palm-beach-gardens.jpg
  public/location-pages/maps/christ-fellowship-espanol-royal-palm-beach.jpg
Labels: Location Pages 📍, Ready for Review ✅

#644 Fixed sizing for External Home Buttons
  components/HeroLanding/HeroButtons.js
  components/HeroLanding/HeroLanding.styles.js
  hooks/useCurrentBreakpoint.js
  ui-kit/_config/icons.js
Labels: Bug 🐛, External Marketing 📊, Ready for Review ✅

#645 Added During the Week Section
  components/LocationSingle/CampusInfo/customComponents.js
  components/LocationSingle/CampusInfo/index.js
Labels: Location Pages 📍, Ready for Review ✅

#646 Fixes campus names for coming up section
  lib/locationData.js
Labels: Bug 🐛, Location Pages 📍, Ready for Review ✅

#647 Updated the landing page for the groups page
  components/CommunityLeaderActions/CommunityLeaderActions.js
  pages/groups/Community.styles.js
  pages/groups/Groups.styles.js
  pages/groups/index.js
  public/groups-cover-image.png
  public/groups-logo.png
Labels: Enhancement ✨, Groups Platform 🙋‍♂️, Ready for Review ✅

#648 Updated footer
  components/Footer/Footer.js
  config/metadata.js
Labels: Enhancement ✨, Ready for Review ✅

#649 Fixed Card Size
  components/CommunitySingle/CommunitySingle.js
Labels: Bug 🐛

#650 Location Pages Map Bug
  components/InfoCardList/InfoCardList.js
  components/LocationSingle/CampusInfo/PastorCard.js
  components/LocationSingle/CampusInfo/customComponents.js
  components/LocationSingle/CampusInfo/index.js
Labels: Ready for Review ✅

#655 Fixed Sisterhood Podcast Season Bug
  pages/so-good-sisterhood/season/[title].js
Labels: Bug 🐛, Ready for Review ✅

#653 Changed Groups page copy
  components/CommunityActionSection/CommunityActionSection.js
  pages/groups/index.js
Labels: Groups Platform 🙋‍♂️, Ready for Review ✅

#654 Added new video to external web page
  components/ExternalHome/ThriveInEveryArea.js
  public/external-landing/thrive-background-shapes.png
  public/external-landing/thrive-in-every-area.png
  public/external-landing/thrive-thumbnail.png
Labels: External Marketing 📊, Ready for Review ✅

#651 Updated the Trinity Campus
  components/LocationSingle/CampusInfo/customComponents.js
  components/LocationSingle/CampusInfo/index.js
  lib/locationData.js
Labels: Location Pages 📍, Ready for Review ✅

#656 Updated Trinity Card Name on /Locations
  components/LocationSearch/LocationHeader.js
  components/LocationSearch/LocationSearch.js
  components/LocationSearch/LocationSearch.styles.js
  components/LocationSearch/LocationsLoader.js
  components/LocationSearch/index.js
  components/index.js
  pages/locations/index.js
Labels: Location Pages 📍, Ready for Review ✅

#658 Fixed Add Group Member
  components/Modals/AddGroupMemberModal/AddGroupMemberModal.js
  hooks/useCampuses.js
Labels: Bug 🐛, Ready for Review ✅

#652 Podcast Bug Fix
  components/ContentLayout/ContentLayout.js
  components/ContentSingle/ContentSingle.js
Labels: Ready for Review ✅

#659 Events Header Fix
  components/EventSingle/EventSingle.js
Labels: Ready for Review ✅

#660 Updated Trinity Copy
  components/FAQ/faqData.js
  components/LocationSingle/CampusInfo/customComponents.js
  components/LocationSingle/CampusInfo/index.js
Labels: Location Pages 📍, Ready for Review ✅
